
@{
    ViewBag.Title = "Index";
}

<h1 class="jumbotron text-center">Gry na Switch</h1>
<h2 class="text-lg-center">Tutaj można znaleźć spis gier na konsolę Nintendo Switch. Stworzone przez Pawła Szczepankiewicza</h2>
